html, body{
  font-family: var(--font-poppins);
  font-size: var(--font-main-size);
  min-height: 100vh;
  background-color: var(--color-very-light-gray);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  min-height: 100vh;
}

h1,h2,h3{
  color: var(--color-very-dark-blue);
}

p{
  color: var(--color-grayish-blue);
}
